/vendor
/node_modules
Homestead.yaml
Homestead.json

*.iml
.idea/

storage/database.sqlite

### Laravel template
/bootstrap/compiled.php
.env.*.php
.env.php
.env

/public/build
/public/css
/public/js

